In [16]:
load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
!ln -s /home/app/src/main.py main.py

ln: failed to create symbolic link 'main.py': File exists

In [35]:
autoreload 2

In [30]:
from main import get_players_df

In [31]:
from datetime import datetime
date_str = datetime.today().strftime('%Y-%m-%d')

In [32]:
players_df = await get_players_df(date_str)

In [38]:
players_df[["name", "team"]]

                           name  team
id
1                    Mesut Özil     1
2     Sokratis Papastathopoulos     1
3    David Luiz Moreira Marinho     1
4     Pierre-Emerick Aubameyang     1
5                 Cédric Soares     1
..                          ...   ...
472               Matija Sarkic    20
473          Morgan Gibbs-White    20
474            Pedro Lomba Neto    20
475   Bruno André Cavaco Jordao    20
476            Leonardo Campana    20

[476 rows x 2 columns]